/* font-family: "ProximaNova-Black"; */
@font-face {
	font-family: "ProximaNova-Black";
	src: url("../fonts/ProximaNova-Black/ProximaNova-Black.eot");
	src: url("../fonts/ProximaNova-Black/ProximaNova-Black.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProximaNova-Black/ProximaNova-Black.woff") format("woff"),
	url("../fonts/ProximaNova-Black/ProximaNova-Black.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "ProximaNova-Light"; */
@font-face {
	font-family: "ProximaNova-Light";
	src: url("../fonts/ProximaNova-Light/ProximaNova-Light.eot");
	src: url("../fonts/ProximaNova-Light/ProximaNova-Light.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProximaNova-Light/ProximaNova-Light.woff") format("woff"),
	url("../fonts/ProximaNova-Light/ProximaNova-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "ProximaNova-Semibold"; */
@font-face {
	font-family: "ProximaNova-Semibold";
	src: url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot");
	src: url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff") format("woff"),
	url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "ProximaNova-Bold"; */
@font-face {
	font-family: "ProximaNova-Bold";
	src: url("../fonts/ProximaNova-Bold/ProximaNova-Bold.eot");
	src: url("../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProximaNova-Bold/ProximaNova-Bold.woff") format("woff"),
	url("../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "ProximaNova-ExtraBold"; */
@font-face {
	font-family: "ProximaNova-ExtraBold";
	src: url("../fonts/ProximaNova-ExtraBold/ProximaNova-Extrabld.eot");
	src: url("../fonts/ProximaNova-ExtraBold/ProximaNova-Extrabld.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProximaNova-ExtraBold/ProximaNova-Extrabld.woff") format("woff"),
	url("../fonts/ProximaNova-ExtraBold/ProximaNova-Extrabld.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "ProximaNova-Regular"; */
@font-face {
	font-family: "ProximaNova-Regular";
	src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot");
	src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProximaNova-Regular/ProximaNova-Regular.woff") format("woff"),
	url("../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}






