* {
	transition: all .5s;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif
	background: #fcfcfc; 
}

h1, h2, h3, h4, h5, h6, p, a {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	color: #1a1819;
	padding: 0;
}

a {
	text-decoration: none;
}

.container {
	width: 940px;
	margin: 0 auto;
}

.row {
	margin-bottom: 20px;
}

.row:after {
	display: block;
	content: '.';
	height: 0;
	visibility: hidden;
	clear: both;
}

[class*="span"] {
	float: left;
	display: inline;
	margin-right: 20px;
}

[class*="span"]:last-child {
	margin-right: 0;
	float: right;
}


.span1  { width:  60px }
.span2  { width: 140px }
.span3  { width: 220px }
.span4  { width: 300px }
.span5  { width: 380px }
.span6  { width: 460px }
.span7  { width: 540px }
.span8  { width: 620px }
.span9  { width: 700px }
.span10 { width: 780px }
.span11 { width: 860px }
.span12 { width: 940px }

.offset1  { margin-left:  60px }
.offset2  { margin-left: 140px }
.offset3  { margin-left: 220px }
.offset4  { margin-left: 300px }
.offset5  { margin-left: 380px }
.offset6  { margin-left: 460px }
.offset7  { margin-left: 540px }
.offset8  { margin-left: 620px }
.offset9  { margin-left: 700px }
.offset10 { margin-left: 780px }
.offset11 { margin-left: 860px }
.offset12 { margin-left: 940px }

