section {
	background: url(http://kaboompics.com/download/80c9196cfada3a35945b2989314c631e/original) center top / cover;
	height: 100vh;
}

h1 {
	font-family: 'ProximaNova-Black';
	color: #FFE8C6;
	text-transform: uppercase;
	font-size: 100px;
	text-align: center;
	padding-top: 270px;
	text-shadow: 4px 4px 16px #1A242D;
}

a {
	display: block;
	background: #320009;
	color: #FFE8C6;
	font-family: 'ProximaNova-Light';
	font-size: 25px;
	text-align: center;
	text-transform: uppercase;
	margin: 60px auto 0 auto;
	width: 175px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 15px;
	box-shadow: 4px 4px 16px rgba(26, 36, 45, 0.4); 
}

a:hover {
	background: #780009;
}

input {
	display: table;
	margin: 25px auto 15px auto;
	font-family: 'ProximaNova-Light';
	font-style: italic;
	font-size: 1.45em;
	color: rgba(0,0,0,0.8);
	border: 0;
	padding: 0;
	width: 285px;
	padding: 15px 0 7px 15px;
	box-shadow: 4px 4px 16px rgba(26, 36, 45, 0.4); 
}