html, body{
    overflow:auto;
}

#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 100500;
}

#page-preloader .spinner {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('/images/spinner.gif') no-repeat 50% 50%;
    margin: -16px 0 0 -16px;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
    padding: 0;
    margin: 0;
}

header {
    background: no-repeat center top / cover;
    background: white;
    height: 100vh;
    overflow: hidden;
}

#menu {
    background-color: #f2f2f2;
    display: block;
    position: fixed;
    text-align: center;
    width: 100%;
}

li {
    display: inline-block;
    padding: 5px 33px;
    cursor: pointer;
}

.menu-el {
    font-family: "Roboto";
    font-weight: 300;
    color: black;
    cursor: pointer;
}

.logo-shandy {
    display: block;
    margin: 365px auto 0 auto;
}

h3 {
    text-align: center;
    font-family: "Raleway";
    font-weight: 500;
    font-size: 50px;
    color: black;
    padding: 150px 0 50px 0;
    color: black;
}

.h3-f {
    color: white;
}

#about-me {
    background-color: black;
    width: 100%;
}

.georgy-photo {
    display: block;
    padding: 100px 0 150px 0;
    float: left;
}

p {
    font-family: "Roboto";
    font-weight: 100;
    font-size: 13px;
}

.first {
    margin-top: 130px;    
}

.about-text {
    display: block;
    color: white;
    margin-left: 400px;
    padding-top: 50px;
}

.hobby-txt {
    padding-top: 12px;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}

.hobby {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 100px;
}

.p-img {
    display: inline;
    text-align: center;
    padding: 100px 0 100px 0;
}

.social {
    display: block;
    font-family: "Raleway";
    color: black;
    font-weight: 100;
    font-size: 25px;
    text-align: center;
    padding: 50px 0;
    color: white;
}

.email {
    display: block;
    font-family: "Raleway";
    color: black;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    padding: 50px 0 80px 0;
    color: white;
}

.white {
    color: white;
}

#contact-me {
    background-color: #000;
}

footer {
    background-color: #f2f2f2;
}

.you {
    display: block;
    margin: 0 auto;
    height: 2%;
    width: 2%;
    padding: 5px 0;
}